<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.caochaojie.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.caochaojie.po.User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
    </resultMap>
    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id
        , name ,sex
    </sql>

    <select id="getAllUser" resultMap="BaseResultMap">
        select *
        from user_info;
    </select>

    <select id="existsUsers" resultType="Integer">
        select id from user where id in
        <foreach collection="params" item="data" separator="," open="(" close=")">
            ${data}
        </foreach>
    </select>

    <resultMap id="baseMap" type="com.caochaojie.mapper.result.UserResult">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
    </resultMap>


    <select id="listAllUser" resultMap="baseMap">
        select id ,name,sex from user
    </select>

    <select id="like" resultMap="baseMap">
        select id ,name,sex from user where name like '%${param}%'
    </select>

    <resultMap id="objectWithCollection" type="com.caochaojie.mapper.result.UserItemResult">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <collection property="items" javaType="List" ofType="com.caochaojie.po.Item">
            <result column="itemId" property="id"/>
            <result column="itemName" property="name"/>
            <result column="user_id" property="userId"/>
        </collection>
    </resultMap>

    <select id="itemWithCollection" resultMap="objectWithCollection">
        select m.id as itemId, m.name as itemName,m.user_id, u.id ,u.name,u.sex from user u left join item m on
        u.id=m.user_id
    </select>

    <resultMap id="twoLeftJoinMap" type="com.caochaojie.mapper.result.TwoLeftJoin">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="sex" property="sex"/>
        <result column="itemName" property="itemName"/>
        <result column="cardName" property="cardName"/>
    </resultMap>


    <select id="queryTwoLeft" resultMap="twoLeftJoinMap">
        select u.id ,u.name,u.sex,m.name as itemName, card.name as cardName from user u left join item m on
        u.id=m.user_id left join mooncard as card on card.id=m.user_id
        limit 5
    </select>


    <select id="listAllUserOrder" resultMap="baseMap">
        select id ,name,sex from user order by ${param.order.field} ${param.order.direction}
    </select>

    <select id="listAllUserLimit" resultMap="baseMap" parameterType="com.caochaojie.param.ParamBO">
        select id ,name,sex from user limit ${startIndex},${pageSize}
    </select>

    <select id="findWithChoose" resultMap="BaseResultMap" parameterType="String">
        select id ,name,sex from user
        <choose>
            <when test="name!=null and name=='a1'">
                where name='蛇123'
            </when>
            <otherwise>
                where name='61'
            </otherwise>
        </choose>

    </select>

    <select id="suffixOverrides" resultMap="BaseResultMap">
        select id,name sex from user_info
        where id in
        <trim suffixOverrides="," prefix="(" suffix=")">
            1,2,3,
        </trim>
    </select>


    <update id="batchUpdate">
        update ta_result_object
        set bak_record = 1
        where uuid = #{id}
    </update>

    <update id="batchUpdateList" parameterType="java.util.List">
        update ta_result_object
        set bak_record=1
        where uuid in
        <foreach collection="list" index="index" item="item"
                 separator="," open="(" close=")">
            #{item}
        </foreach>
    </update>

</mapper>
